In [93]:
import csv
import pandas as pd 
import numpy as np

# Chargemet des deux fichiers de "reviews" dans deux DataFrame différents
df_ini_Fr = pd.read_csv('all_restau_reviews_fr_v1.csv', sep=';')

df_ini_En = pd.read_csv('all_restau_reviews_English.csv', sep=';')

# Affichage des info des dataFrames avant Netoyage 
df_ini_Fr.info()
print('\n')
df_ini_En.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219780 entries, 0 to 219779
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    219780 non-null  int64
 1   Titre        219757 non-null  object
 2   Note         219780 non-null  float64
 3   DateVisite   219780 non-null  object
 4   Commentaire  219771 non-null  object
 5   restaurant   219780 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 10.1+ MB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190298 entries, 0 to 190297
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    190298 non-null  int64
 1   Titre        190297 non-null  object
 2   Note         190298 non-null  float64
 3   DateVisite   190298 non-null  object
 4   Commentaire  190298 non-null  object
 5   restaurant   190298 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.7+ MB

In [94]:
# Supprimer les lignes ayant une valeur "nan" sur l'une des colonnes
df_ini_Fr.dropna(axis=0, how='any', inplace=True)

df_ini_En.dropna(axis=0, how='any', inplace=True)

In [95]:
df_ini_Fr.info()
print('\n')
df_ini_En.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219757 entries, 0 to 219779
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    219757 non-null  int64
 1   Titre        219757 non-null  object
 2   Note         219757 non-null  float64
 3   DateVisite   219757 non-null  object
 4   Commentaire  219757 non-null  object
 5   restaurant   219757 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 11.7+ MB


<class 'pandas.core.frame.DataFrame'>
Int64Index: 190297 entries, 0 to 190297
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    190297 non-null  int64
 1   Titre        190297 non-null  object
 2   Note         190297 non-null  float64
 3   DateVisite   190297 non-null  object
 4   Commentaire  190297 non-null  object
 5   restaurant   190297 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 10.2+ MB

In [96]:
###### ~~~~ Supprimer les lignes ayant une langue différente de "Fr" et de "En" respectivement ~~~~#####  
import langid 

# récupérer, pour chaque dataframe, la langue de chaque commentaire dans une nouvelle colonne
df_ini_Fr['lang'] = df_ini_Fr['Commentaire'].apply( lambda x : langid.classify(x))

df_ini_En['lang'] = df_ini_En['Commentaire'].apply(lambda x : langid.classify(x))

In [97]:
# récupérer les index des lignes dont les commentaires ne sont pas en francais ou en anglais repectivement 
index_not_Fr = df_ini_Fr[df_ini_Fr['lang'].apply(lambda x: str(x).split(',')[0][1:]) != "'fr'" ].index 

index_not_En = df_ini_En[df_ini_En['lang'].apply(lambda x: str(x).split(',')[0][1:]) != "'en'" ].index 

# print la liste des indexes pour vérification 
print (index_not_Fr)
print('\n')
print(index_not_En)

Int64Index([  1554,   2058,   2651,   3400,   4658,   5990,   6099,   6234,
              6242,   7935,
            ...
            206328, 208341, 209096, 215290, 216951, 217247, 218576, 219732,
            219745, 219765],
           dtype='int64', length=329)


Int64Index([   423,    526,    628,    750,   1643,   1674,   1679,   1683,
              1757,   1973,
            ...
            186664, 186771, 186822, 186831, 187697, 188213, 188619, 189339,
            189810, 189969],
           dtype='int64', length=402)

In [98]:
# Supprimer les indexes trouvées dans les dataFrame en question  
df_ini_Fr.drop(index_not_Fr, inplace = True)

df_ini_En.drop(index_not_En, inplace = True)

In [99]:
# Affichage des info des dataFrames après Netoyage 
df_ini_Fr.info()
print('\n')
df_ini_En.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219428 entries, 0 to 219779
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    219428 non-null  int64
 1   Titre        219428 non-null  object
 2   Note         219428 non-null  float64
 3   DateVisite   219428 non-null  object
 4   Commentaire  219428 non-null  object
 5   restaurant   219428 non-null  object
 6   lang         219428 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 13.4+ MB


<class 'pandas.core.frame.DataFrame'>
Int64Index: 189895 entries, 0 to 190297
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   restau_ID    189895 non-null  int64
 1   Titre        189895 non-null  object
 2   Note         189895 non-null  float64
 3   DateVisite   189895 non-null  object
 4   Commentaire  189895 non-null  object
 5   restaurant   189895 non-null  object
 6   lang         189895 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 11.6+ MB

In [ ]:
# Suppression des lignes "duplicata" dans chacune des DataFrame 
df_ini_Fr.drop_duplicates(keep='first',inplace=True)

df_ini_En.drop_duplicates(keep='first',inplace=True)

In [100]:
# Enregistrer les DataFrame résultats dans deux nouveaux fichiers CSV 
columns=['restau_ID','Titre', 'Note', 'Commentaire', 'DateVisite', 'restaurant']

df_ini_Fr.to_csv('all_reviews_fr_clean.csv', header=True, index = False, columns=columns, encoding='utf-8-sig', sep =';' )

df_ini_En.to_csv('all_reviews_En_clean.csv', header=True, index = False, columns=columns, encoding='utf-8-sig', sep =';' )